.addToCartFull {
  width: 490px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addToCart {
  @extend .addToCartFull;
  width: auto;
}

.priceFull {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}

.price {
  @extend .priceFull;
  font-size: 16px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 113px;
  font-weight: 500;
  line-height: 130%;
  color: #3F4E65;
  span:nth-child(1), span:nth-child(3) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 23px;
    border-radius: 11px;
    background: rgba(255, 198, 80, 0.3);
    cursor: pointer;
  }
}