@import 'index';

.addToCartFull {
  width: 490px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addToCart {
  @extend .addToCartFull;
  width: auto;
}

.priceFull {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}

.price {
  @extend .priceFull;
  font-size: 16px;
}

.counter {
  @extend .productsCounter;
}