@import "index";

.adminPanel {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 238px;
}


.asideMenuItem {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: #ececec;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
}

.asideMenuItem:hover {
  background: #f3f3f3;
}

.main {
  width: 1020px;
}

.productListBlock {
  width: 100%;
}

.productList {
  width: 100%;
}

.productListItem {
  width: 100%;
  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 20px;

  &__id {
    flex: 1 1 15%;
    padding: 0 10px;
  }

  &__brand {
    flex: 1 1 15%;
    font-weight: 500;
    padding-right: 10px;
  }

  &__title {
    flex: 1 1 40%;
    padding-right: 10px;
    line-height: 130%;
  }

  &__image {
    margin: 0 20px;

    img {
      max-height: 64px;
    }
  }

  &__price {
    flex: 1 1 10%;
    font-weight: 500;
    padding-right: 10px;
  }

  &__edit {
    display: flex;
    flex: 1 1 8%;
    justify-content: space-between;

    img {
      width: 32px;
      cursor: pointer;
    }
  }

}

.addProductForm {
  display: flex;
  flex-direction: column;
}

.inputItem {
  margin-bottom: 20px;
}

.inputTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
}

.inputLabel {
  display: flex;
  align-items: center;
}

.textInput {
  flex: 1 1 auto;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
}

.typesOfCare {
  display: flex;
  flex-wrap: wrap;
}

.typeOfCareInput {
  display: flex;
  flex: 0 1 33%;
  flex-direction: column;
  padding: 15px;
}

.typeOfSizeInput {
  display: flex;
  align-items: center;

  .radioElem {
    margin-left: 10px;

    span {
      margin-left: 5px;
    }
  }
}

.careTypeTitle {
  font-size: 16px;
  color: #3F4E65;
  margin-bottom: 10px;
}

.checkBoxElem {
  span {
    margin-left: 5px;
  }
}

.checkBoxElem:not(:last-child) {
  margin-bottom: 5px;
}

.descriptionInput {
  width: 100%;
  height: 300px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  flex: 1 1 auto;
  resize: none;
  margin-top: 20px;
  padding: 5px;
}

.submitBtn {
  max-width: 200px;
  padding: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

.submitBtn:hover {
  background: #d0d0d0;
}

.validationErrorMessage {
  @extend .inputTitle;
  width: 100%;
  padding: 10px;
  color: red;
}


//============================MEDIA============================

// Max-width 1366px
@media (max-width: $md1+px) {
  .main {
    width: 700px;
  }

  .typeOfCareInput {
    flex: 0 1 50%;
  }
}

// Max-width 992px
@media (max-width: $md2+px) {
  .main {
    width: 470px;
  }

  .productListItem {
    width: 100%;
  }

  .productListItem {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    height: auto;

    &__image {
      display: none;
    }

    &__id {
      flex: 0 0 135px;
      padding: 0 10px;
      margin-bottom: 10px;
    }

    &__brand {
      flex: 0 0 130;
      padding-right: 10px;
      margin-bottom: 10px;
    }

    &__title {
      flex: 0 0 130;
      margin-bottom: 10px;
    }
  }

  .typeOfCareInput {
    flex: 0 1 100%;
  }

  .textInput {
    width: 100%;
    flex: 1 1 auto;
    margin: 0;
  }

  .inputTitle {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .inputLabel {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

// Max-width 768px
@media (max-width: $md3+px) {
  .aside {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .adminPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .asideMenu {
    margin-bottom: 20px;
  }

  .main {
    width: 100%;
  }

  .productList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
