.breadCrumbs {
  font-weight: 300;
  line-height: 120%;
  color: #3F4E65;
  a {
    color: #3F4E65;
  }
}

.breadCrumbItem {
  padding: 0 10px;
}

.breadCrumbItem:first-child {
  padding-left: 0;
}

.breadCrumbItem:not(:last-child) {
  border-right: 1px dashed rgba(63, 78, 101, 0.3);
}