.breadCrumbs {
  display: flex;
  align-items: center;
  font-weight: 300;
  line-height: 120%;
  color: #3F4E65;

  a {
    color: #3F4E65;
  }
}

.breadCrumbItem {
}

.breadCrumbItem:first-child {
  padding-left: 0;
}