.buttonBigText {
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 21px 54px;
  height: 59px;
  padding: 0 40px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFF;
  cursor: pointer;


}
.buttonBig {
  @extend .buttonBigText;
  span {
    margin-right: 12px;
  }
}

.buttonMediumText {
  @extend .buttonBigText;
  height: 45px;
  padding: 0 25px;
}

.buttonMedium {
  @extend .buttonMediumText;
  span {
    margin-right: 12px;
  }
}

.iconOnly {
  @extend .buttonBig;
  padding: 0;
  width: 59px;
}