.typeOfCare {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.typeOfCareItem {
  padding: 18px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: #f6f6f6;
  }
}

.typeOfCareItem:not(:last-child) {
  margin-right: 11px;
}

.typeOfCareActiveItem {
  @extend .typeOfCareItem;
  background: #f1f1f1;
}