@import 'index';

.cartItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

.image {
  width: 281px;
  display: flex;
  justify-content: center;
  img {
    max-height: 191px;
  }
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111111;
  margin: 10px 0;
}

.description {
  max-width: 480px;

  .descriptionText {
    max-width: 444px;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #3F4E65;
    text-align: justify;
  }

}

.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.counter {
  @extend .productsCounter;
}

.price {
  @extend .title;
  line-height: 130%;
}