@import "index";

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  flex: 1 0 auto;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 30px;
}

.totalPrice {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.emptyCart {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #3F4E65;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  width: 735px;
  height: 424px;
  padding: 115px 0 134px 0;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.modalTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 20px;
}

.modalText {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #3F4E65;
}

.modalIcon {
  width: 59px;
  min-height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFC85E;
  margin-bottom: 24px;
}

.modalCloseBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}



//============================MEDIA============================

// Max-width 1366px
@media (max-width: $md1+px) {
  .container {
    width: 980px;
  }
}

// Max-width 992px
@media (max-width: $md2+px) {
  .container {
    width: 756px;
  }
}

// Max-width 768px
@media (max-width: $md3+px) {
  .container {
    width: 468px;
  }
}

// Max-width 480px
@media (max-width: $md4+px) {
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .content {
    margin-top: 25px;
  }

  .footer {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .totalPrice {
    margin-bottom: 25px;
  }

  .modal {
    width: 290px;
    height: 288px;
    padding: 60px 0 87px 0;
  }

  .modalTitle {
    font-size: 20px;
  }

  .modalText {
    font-size: 12px;
    width: 197px;
  }
}