.cartBlock {
  display: flex;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;

  &__icon {
    position: relative;
    margin-right: 24px;
  }

  &__iconMobile {
    @extend .cartBlock__icon;
    img {
      width: 32px;
      height: 30px;
    }
  }

  &__itemsCount {
    position: absolute;
    right: -12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    font-weight: 700;
    line-height: 120;
    background: #FFC85E;
    color: #FFFFFF;
    border-radius: 50%;
  }

  &__totalPrice {
    font-weight: 600;
    font-size: 14px;
    color: #111111;
  }
}