@import "index";

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}

.head {
  margin: 50px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
}
.main {
  display: flex;
  justify-content: space-between;
}

//============================MEDIA============================

// Max-width 1366px
@media (max-width: $md1+px) {
  .content {
    width: 980px;
  }
}

// Max-width 992px
@media (max-width: $md2+px) {
  .content {
    width: 756px;
  }
}

// Max-width 768px
@media (max-width: $md3+px) {
  .content {
    width: 468px;
  }

  .head {
    margin: 35px 0 15px 0;
  }

  .careTypesBlock {
    display: none;
  }

  .title{
    font-size: 20px;
  }

  .sortBy {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

// Max-width 480px
@media (max-width: $md4+px) {
  .content {
    width: 280px;
  }
}
