.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}

.head {
  margin: 50px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1{
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
}

.main {
  display: flex;
  justify-content: space-between;
}




