.horizontal {
  display: inline-block;
  opacity: 0.3;
  border-bottom: 1px dashed #3F4E65;
  margin: 20px 0;
}

.vertical {
  @extend .horizontal;
  border-bottom: none;
  border-right: 1px dashed #3F4E65;
  margin: 0 10px;
}