@import 'index';

.content {
  display: flex;
  width: 100%;
  margin-top: 65px;
  flex: 1 0 auto;
}

.image {
  flex: 0 1 664px;
  margin-right: 40px;
  padding: 20px;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

.information {
  max-width: 662px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inStock {
  font-weight: 500;
  line-height: 130%;
  color: #1FD85D;
}

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: #111111;
  margin: 10px 0;

  span {
    font-weight: 800;
  }
}

.addToCart {
  margin: 25px 0 20px 0;
}

.additional {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin-bottom: 35px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    height: 77px;
    box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;

    .bold {
      font-weight: 700;
    }
  }

  div:not(:last-child) {
    margin-right: 10px;
  }

  a {
    color: #3F4E65;
  }
}

.shareBtn {
  cursor: pointer;
  width: 77px;
}

.freeDelivery {
  width: 316px;
  padding: 0 35px;
  text-align: center;
}

.priceListBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 186px;
  cursor: pointer;
}

.specificationBlock {
  margin-bottom: 30px;
}

.descriptionText {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  text-align: justify;
}


//============================MEDIA============================

// Max-width 1366px
@media (max-width: $md1+px) {
  .container {
    width: 980px;
  }
}

// Max-width 992px
@media (max-width: $md2+px) {
  .container {
    width: 756px;
  }

  .information {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .image {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 20px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

// Max-width 768px
@media (max-width: $md3+px) {
  .container {
    width: 468px;
  }

  .content {
    margin-top: 25px;
    flex-direction: column;
  }
}

// Max-width 480px
@media (max-width: $md4+px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    flex: 1 0 auto;
  }

  .image {
    flex: 1 0 256px;
    margin: 0;
    padding: 0;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    margin: 10px 0;

    span {
      font-weight: 800;
    }
  }

  .weightBlock {
    display: none;
  }

  .additional {
    flex-wrap: wrap;
  }

  .shareBtn {
    order: 1;
  }
  .priceListBtn {
    order: 2;
  }

  .freeDelivery {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}