@import 'index';

.sort {
  min-width: 284px;
  height: 24px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
}

.title {
  width: 110px;
}

.sortValue {
  font-weight: 400;
  color: #3F4E65;
  cursor: pointer;
  margin-right: 12px;
}

.sortTriangle {
  display: inline-block;
  position: absolute;
  padding-left: 5px;
}

.sortTriangleUp {
  @extend .triangleUp;
}

.sortTriangleDown {
  @extend .triangleDown;
}

.sortList {
  @extend .sortValue;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 110px;
  top: 30px;
  width: 184px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.sortListHidden {
  display: none;
}

.sortListValue {
  padding: 5px 10px;
}

.sortListValue:hover {
  background-color: #efefef;
}

//============================MEDIA============================
// Max-width 768px
@media (max-width: $md3+px) {
  .sort {
    font-size: 14px;
    margin-bottom: 37px;
  }
}