

.specificationProperty {
  margin-bottom: 5px;
}

.specificationLabel {
  font-weight: 300;
  line-height: 150%;
  color: #3F4E65;
}

.specificationText {
  font-weight: 500;
  line-height: 150%;
  color: #111111;
}