@import 'index';

.spoilerTitle {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  cursor: pointer;
  margin-bottom: 15px;
}

.spoilerTriangle {
  display: inline-block;
  position: absolute;
  padding-left: 5px;
}

.spoilerTriangleUp {
  @extend .triangleUp;
}

.spoilerTriangleDown {
  @extend .triangleDown;
}